html {
    background: beige;
}

body {
    background: lightyellow;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    color: #545454;
    font-family: "imfellEnglish", imfellEnglish, serif;
    font-size: 16px;
    line-height: 1.5;
    margin: auto;
    max-width: 800px;
    padding: 2em 4em 4em;
}

h1 {
    color: darkred;
    font-weight: 600;
    line-height: 1.3;
    text-align: center;
    font-size: 30pt;
}

h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: darkred;
}

button {
    font-family: inherit;
    font-size: 1em;
    border-radius: 2px;
    border: none;
    color: white;
    background: darkred;
    cursor:pointer;
    display: inline-block;
    text-decoration: none;
    padding-top: 4px;
}

button:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 2);
}

form ul {
  list-style-type: none;
}

div.code {
    overflow-x:scroll;
    padding: 0 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}


hr.italian {
  border: 0;
  height: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);

  background: linear-gradient(to right, rgba(0,140,69,1) 0%, rgba(0,140,69,1) 33%, rgba(244,245,240,1) 33%, rgba(244,245,240,1) 66%, rgba(205,33,42,1) 66%, rgba(205,33,42,1) 100%);
}

span.keyword {
    color: darkred;
}

span.class {
    color: darkgreen;
    font-weight: bold;
}

@font-face {
  font-family: imfellEnglish;
  src: url(fonts/imfellEnglish.ttf);
}

@font-face {
  font-family: imfellEnglish;
  src: url(fonts/imfellEnglish_IT.ttf);
  font-style: italic;
}

@font-face {
  font-family: imfellEnglish;
  src: url(fonts/imfellEnglish_SC.ttf);
  font-weight: bold;
}

@font-face {
  font-family: linux libertine;
  src: url(fonts/LinLibertine_RBI.otf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: linux libertine sans;
  src: url(fonts/LinBiolinum_R.otf);
}

.menuIcon {
  position: fixed; /* Stay in place */
  z-index: 0; /* Stay on top */
  left: 0;
  margin-left: 20px;
}
/* The side navigation menu */
.sideMenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 0; /* Stay on top */
    background-color: beige;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    left: 0;
    top: 0;
    transition: 1s; /* 0.5 second transition effect to slide in the sideMenu */
}

/* The navigation menu links */
.sideMenu a {
  padding: 8px 8px 8px 36px;
  text-decoration: none;
  font-size: 25px;
  color: darkred;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
}

/* When you mouse over the navigation links, change their color */
.sideMenu a:hover {
  color: rgba(205,33,42,1);
}

.sideMenu img {
    width: 120px;
    display: block;
    margin-left: 60px;
}

/* On smaller screens, where width is less than 500px, change the style (less padding and a smaller font size) */
@media screen and (max-width: 500px) {
    /*.sideMenu a {font-size: 18px;}*/
    body {padding: 2em 1em 2em 4em;}
}

#toggle {
    display: block;
    width: 28px;
    height: 30px;
    position: absolute;
    font-size: 36px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: darkred;
  transition: all 0.3s;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
