<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{page.title}} | Lernplattform für Design Patterns</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/main.css">
        <link rel="stylesheet" href="/javascript/highlighting/styles/school-book.css">
        <link rel="icon" type="image/jpg" href="/data/pictures/pasta_small.png"/>
    </head>

    <script>var home = false;</script>

    <body id="main">

      {% include navigation.html %}

      <!-- pop-up notification -->
        <div id="alert">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            Gratulation! Du kannst jetzt dein Zertifikat herunterladen
        </div>


      <hr class="italian" />
      <h1>{{page.title}}<h1>
      <hr class="italian" />

      {{content}}

    </body>

    <!-- import jQuery -->
    <script src="javascript/jquery-3.3.0.min.js"></script>

    <!-- ion sound -->
    <script src="javascript/ion/js/ion.sound.js"></script>

    <!-- syntax highlighting -->
    <script src="javascript/highlighting/highlight.pack.js"></script>

    <!-- website appearance -->
    <script src="javascript/script.js"></script>

    <!-- multiple choice test evaluation -->
    <script src="javascript/check-test.js"></script>

</html>
